---
Checks:    'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,
            -modernize-use-trailing-return-type, -modernize-redundant-void-arg, performance-*, bugprone-*,
            fuchsia-multiple-inheritance, fuchsia-statically-constructed-objects, fuchsia-virtual-inheritance,
            hicpp-multiway-paths-covered, hicpp-avoid-goto, misc-*, -cppcoreguidelines-avoid-magic-numbers,
            readability-*, -readability-identifier-naming, -readability-implicit-bool-conversion,
            -readability-magic-numbers, -bugprone-easily-swappable-parameters, -cppcoreguidelines-pro-type-reinterpret-cast,
            -cppcoreguidelines-pro-bounds-constant-array-index, -cppcoreguidelines-pro-bounds-pointer-arithmetic,
            -misc-non-private-member-variables-in-classes, -cppcoreguidelines-non-private-member-variables-in-classes'

WarningsAsErrors: true
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: true
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           '0'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...
